# 💠 Frontend Url (Render) ────────────────────────────────────────────────────────────────────── 
VITE_BACKEND_URL=http://localhost:3000



# ⚡ Supabase Config ───────────────────────────────────────────────────────────────────────────── 
# Project Overview > Below The Project Name > VITE_SUPABASE_URL = copy: Project URL 
# Project Setting > API Keys > Legacy anon, service_role API keys > VITE_SUPABASE_ANON_KEY = anon public 
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=